
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="../../favicon.ico">
        <title>Customer Service API</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/style/style.css">
    </head>

    <body>

        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                            <a class="nav-link active" href="https://customers-service-cancel.herokuapp.com">Home <span class="sr-only">(current)</span></a>
                        </li>
                          <li class="nav-item">
                             <a class="nav-link" href="https://github.com/liorshahar/ProjectOneHeroku">Git</a>
                        </li>
                
                    </ul>
                </nav>
                <h3 class="text-muted">Customer service API</h3>
            </div>

            <div class="jumbotron">
                <h1 class="display-3">Customer service - Cancellations</h1>
                <p class="lead">This site explain about the customer service cancellation api 
                </p>
            </div>

            <div class="row marketing">
                <div class="col-lg-6">
                    <div class="frame">
                        <h4>Get all customers</h4>
                        <p>
                            HTTP verb : GET <br>
                            Parametes - non <br>
                            <p>Error log : db is empty</p>
                            <a href="https://customers-service-cancel.herokuapp.com/getAllCustomers">https://customers-service-cancel.herokuapp.com/getAllCustomers</a><br>
                            <img src="../assets/img/getAll.PNG" class="img-fluid" alt="Responsive image">
                        </p>
                    </div>
                    <div class="frame">
                        <h4>Get customer by id</h4>
                        <p>
                            HTTP verb POST:   <br>
                            Parametes - customer_id <br>
                            <p>Error log : customer not found</p>
                            <a href="#">https://customers-service-cancel.herokuapp.com/getCustomerBooks</a><br>
                            <button type="button" class="btn btn-success">Click to send POST request</button>
                            <label id="post_json"></label>
                        </p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="frame">
                        <h4>Get book that customer want to cancel</h4>
                        <p>
                            HTTP verb GET :   <br>
                            Parametes - customer_id , book_id <br>
                            <p>Error log : book id or customer id not found</p>
                            <a href="https://customers-service-cancel.herokuapp.com/getCustomerCanceldBook/123/12d">https://customers-service-cancel.herokuapp.com/getCustomerCanceldBook/:customerId/:bookId</a>
                            <br>
                            <img src="../assets/img/book.JPG" class="img-fluid" alt="Responsive image">
                        </p>
                    </div>
                </div>

            </div>

            <footer class="footer">
                <p>&copy; Author: lior shahar 2018</p>
            </footer>

        </div> <!-- /container -->

        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    $.post("https://customers-service-cancel.herokuapp.com/getCustomerBooks",
                           {
                        customer_id: "123",

                    },
                           function(data,status){
                        $('#post_json').append(JSON.stringify(data));

                    });
                });
            });
        </script>
    </body>
</html>
